@charset "utf-8";


* { margin:0; padding:0;}
*, *:before, *:after { box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
body { margin:0; padding:0; font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;}
:focus { outline:none;}
.clr { clear:both; overflow:hidden;}
.fl { float:left;}
.fr { float:right;}
ul,	li, ol{ list-style:none; }
a { text-decoration:none; }
p{ margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; }
input, select, textarea { font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif;}


.row {}
.row:before, .row:after { content:""; display:table;}
.row:after { clear:both;}

.container { width:940px; margin:0 auto; }
.container:before, .container:after { content:""; display:table;}
.container:after { clear:both;}

#header { padding:15px 0 10px 0;}
#header .logo { float:left;}
#header .logo a { display:block;}
#header .right_h { float:right; margin:45px 0 0 0;}
#header .right_h ul { display:block; float:left; padding:6px 15px 0 0;}
#header .right_h ul li { display:block; float:left; height:12px; border-right:solid 1px #7a7a7a; padding:0 7px;}
#header .right_h ul li:last-child { border:none;}
#header .right_h ul li a { display:block; float:left; font-size:12px; color:#666666; margin:-3px 0 0 0;}
#header .right_h ul li a:hover { text-decoration:underline; }
#header .right_h a.internet { float:left; display:block; background:url(../media/images/icon_1.png) no-repeat left center; padding:0 0 0 30px; line-height:24px; color:#333333; font-size:15px; text-transform:uppercase; font-family: 'HelveticaNeueBold';}
#header .right_h a.internet:hover { color:#14a172; }
#nav { background:#005f49; position:relative; z-index:9999999; }

#nav ul { display:block; float:left; margin:0 0 0 -15px;}
#nav ul li { display:block; float:left; position:relative;  }
#nav ul li a { display:block; height:45px; line-height:45px; color:#aed471; font-size:12px; text-transform:uppercase; font-family: 'HelveticaNeueBold'; padding:0 15px;}
#nav ul li.active a { color:#fff; }
/*#nav ul li a.menu-current { color:#fff; }
#nav ul li a.menu-expand { color:#fff; }*/




#nav ul li:hover > a { box-shadow:0 0 5px rgba(0,0,0,0.5); color:#fff;
background: #75bd46; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YmQ0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMThiNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #75bd46 0%, #018b5f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bd46), color-stop(100%,#018b5f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #75bd46 0%,#018b5f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bd46', endColorstr='#018b5f',GradientType=0 ); /* IE6-8 */
}

#nav a.menu { display:none; height:45px; line-height:45px; color:#fff; font-size:12px; text-transform:uppercase; font-family: 'HelveticaNeueBold'; padding:0 15px; float:left; }
#nav ul li ul { top:100%; left:0; width:210px; position:absolute; background:#fff; z-index:999; display:none; margin:0;}
#nav ul li ul li { margin:0; display:block; padding:0 15px; float:none; }
#nav ul li ul li a { font-size:11px; line-height:30px; background:none; border-bottom:1px solid #f5f5f5; float:none; display:block; height:30px; font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif; margin:0; padding:0; color:#838383; text-transform:none; }
#nav ul li ul li:hover { background:#f5f5f5; } 
#nav ul li ul li > a:hover {  color:#fff; border:none; background:none; box-shadow:none; } 
#nav ul li ul li:hover { box-shadow:0 0 5px rgba(0,0,0,0.5);

.mine {font-size:11px; line-height:30px; background:none; border-bottom:1px solid #f5f5f5; float:none; display:block; height:30px; font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif; margin:0; padding:0; color:#838383; text-transform:none;}
background: #75bd46; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YmQ0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMThiNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #75bd46 0%, #018b5f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75bd46), color-stop(100%,#018b5f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #75bd46 0%,#018b5f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #75bd46 0%,#018b5f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bd46', endColorstr='#018b5f',GradientType=0 ); /* IE6-8 */ }
#nav ul li:hover ul { display:block !important; }
#nav .search_box { float:right; padding:6px 0; }
#nav .search_box .searchbox { float:left; width:180px; height:33px; padding:0 10px; color:#999999; font-size:12px; display:block; border:none; border-radius:0 !important;  -webkit-appearance: none; -webkit-box-sizing: content-box;}
#nav .search_box .search_btn { float:left; width:30px; height:33px; display:block; background: url(../media/images/search_icon.png) no-repeat center center #009966; border:none; }

.cssmenu ul li ul { display:none; }

#banner { height:389px; background:url(../media/images/boble_bg.png) no-repeat center top #0d6f0e; position:relative; }

#banner .container { position:relative; height:389px; }
#da-slider h1 {  }

#banner { position:relative; }
#banner .frm { width:265px; padding:0 20px 0 20px; position:absolute; top:30px; right:40px; background:#008a5f; z-index:99999; min-height:260px; }
#banner .frm h5 { font-size:12px; line-height:14px; color:#ffffff; padding:20px 0 10px 0; margin:0; font-weight:normal;  font-family: 'HelveticaNeueBold'; text-transform:uppercase; }
#banner .frm select { width:100%; height:33px; font-size:12px; color:#9e9e9e; margin:0 0 10px 0; display:block; border:none; }
#banner .frm ul.list { margin:0; padding:0; display:block; }
#banner .frm ul.list > li { margin:0; padding:0; display:block; border-bottom:1px solid #80c5af; }
#banner .frm ul.list > li > a { font-size:14px; line-height:28px; color:#b0d578; font-weight:normal; display:block; background:url(../media/images/right_arrow_1.png) no-repeat right center; font-weight:normal;  font-family: 'HelveticaNeueBold'; text-transform:uppercase; }
#banner .frm ul.list > li.active > a { background:url(../media/images/right_arrow_1_active.png) no-repeat right center; }
#banner .frm ul.list li ul li { padding:0 0 2px 10px; }
#banner .frm ul.list li ul li a { font-size:12px; line-height:16px; color:#fff; font-weight:normal; display:block; }

#banner img.ls-s6 { top:20px !important; left:0 !important;}
#banner h1.ls-s3 { font-size:36px; color:#000;  font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif; text-transform:none; line-height:36px; }
#banner h1.ls-s3 span { font-size:30px; display:block; line-height:20px; }
#banner h1.ls-s3 strong { font-size:65px; font-weight:normal; display:block; font-family: 'HelveticaNeueBold'; line-height:60px; padding-bottom:5px; }


#banner.banner_1 { height:185px; }
.banner_1 .banner_img  { float:left; margin:0; padding:2px 0 0 0; }
.banner_1 h1 { float:left; font-size:36px; line-height:38px; color:#000; font-weight:normal; margin:46px 0 0 0; padding:0; font-family: 'HelveticaNeueBold'; }
.banner_1 .banner_shadow { background:url(../media/images/banner_shadow.png) no-repeat center center; background-size:cover; width:100%; height:44px; position:absolute; bottom:0; left:0; z-index:1;  }

#content { padding:0 0 40px 0; }
#content .left_c { width:655px; float:left; margin:0 20px 0 0; padding:0; }
#content .right_c { width:265px; float:right; margin:0; padding:0; }

#content .imagebox { margin-bottom:20px;}
#content .imagebox img { max-width:100%;}

#content .top_c { margin-top:-40px; padding-bottom:20px; position:relative; z-index:99999; }
#content .left_c .top_tab {  }
#content .left_c .top_tab .top_tab_nav { display:table; width:100%; }
#content .left_c .top_tab .top_tab_nav ul { margin:0 0 0 0px; padding:0; display:table-row; }
#content .left_c .top_tab .top_tab_nav ul li { margin:0 0 0 0px; padding:0; display:table-cell; border-right:5px solid; border-color:transparent; background:url(); }
#content .left_c .top_tab .top_tab_nav ul li:last-child { border:none; }
#content .left_c .top_tab .top_tab_nav ul li a { display:block; font-size:12px; line-height:40px; color:#000; padding:0 0 0 15px; text-transform:uppercase; background:rgba(255,255,255,0.85); font-family: 'HelveticaNeueMedium'; }
#content .left_c .top_tab .top_tab_nav ul li:last-child a { padding:0 17px; }
#content .left_c .top_tab .top_tab_nav ul li.active a,#content .left_c .top_tab .top_tab_nav ul li a:hover { background:#009966; color:#fff; }
#content .left_c .top_tab .top_tab_inner { padding:25px 0 30px 0; margin:0; box-shadow:0px 2px 7px rgba(0,0,0,0.3); } 
#content .left_c .top_tab .tab_block { width:33.33%; padding:0 10px 20px 15px; background:url(../media/images/saprator.png) repeat-y left top; float:left; }
#content .left_c .top_tab .tab_block_1 { background:none; }
#content .left_c .top_tab .tab_block h4 { font-size:16px; line-height:18px; color:#333333; margin:0 0 10px 0; padding:0; font-weight:normal; }
#content .left_c .top_tab .tab_block p { font-size:12px; line-height:14px; color:#9e9e9e; margin:0 0 0px 0; padding:0; font-weight:normal; }
#content .left_c .top_tab .tab_block a.read_more { font-size:12px; line-height:14px; color:#008a5f; font-weight:normal; }


#content .right_c .news_c h4 { background:#666666; font-size:12px; line-height:40px; color:#fff; margin:0; padding:0 0 0 20px; font-family: 'HelveticaNeueBold'; font-weight:normal; }
#content .right_c .news_c .news_list { margin:0; padding:0 15px 20px 20px; display:block; box-shadow: 0px 2px 7px rgba(0,0,0,0.3); }
#content .right_c .news_c .news_list ul { margin:0; padding:0; }
#content .right_c .news_c .news_list li { margin:0; padding:7px 0 0px 0; display:block;  }
#content .right_c .news_c .news_list li span { font-size:12px; line-height:14px; color:#333333; font-weight:normal; display:block; }
#content .right_c .news_c .news_list li a { font-size:12px; line-height:14px; color:#008a5f; margin:0; padding:0; }
#content .right_c .news_c a.read_more { font-size:12px; line-height:14px; color:#008a5f; margin:0; padding:0; }

#content .left_content .mainnews_c h4 { background:#666666; font-size:12px; line-height:40px; color:#fff; margin:0; padding:0 0 0 20px; font-family: 'HelveticaNeueBold'; font-weight:normal; }
#content .left_content .mainnews_c .mainnews_list { margin:0; padding:0 15px 20px 0px; display:block; }
#content .left_content .mainnews_c .mainnews_list ul { margin:0; padding:0; list-style:none !important;}
#content .left_content .mainnews_c .mainnews_list li { margin:0; padding:7px 0 0px 0px; list-style:none !important;display:block; background:url() no-repeat;

}
#content .left_content .mainnews_c .mainnews_list li span { font-size:12px; line-height:14px; color:#333333; font-weight:normal; display:block; list-style:none !important;}
#content .left_content .mainnews_c .mainnews_list li a { font-size:12px; line-height:14px; color:#008a5f; margin:0; padding:0; display:block; list-style:none !important;}
#content .left_content .mainnews_c .mainnews_list li a:hover { font-size:12px; line-height:14px; color:#999999; margin:0; padding:0; display:block; list-style:none !important;}

#content .left_content .mainnews_c a.read_more { font-size:12px; line-height:14px; color:#008a5f; margin:0; padding:0; }

#content .left_content .promo_left { width:34%;float: left; }
#content .left_content .promo_right { width:65%;float: right; }

#content .left_c .tabing {  }
#content .left_c .tabing .tab_nav { display:table; width:100%; }
#content .left_c .tabing .tab_nav ul { margin:0; padding:0; display:table-row; }
#content .left_c .tabing .tab_nav ul li { margin:0; padding:0; display:block; display:table-cell; border-right:5px solid #fff;  }
#content .left_c .tabing .tab_nav ul li:last-child { border-right:none; }
#content .left_c .tabing .tab_nav ul li a { display:block; font-size:12px; line-height:40px; color:#000; padding:0 0 0 15px; text-transform:uppercase; background:#d4d4d4; font-family: 'HelveticaNeueBold'; }
#content .left_c .tabing .tab_nav ul li.active a,#content .left_c .tabing .tab_nav ul li a:hover { background:#999999; color:#fff; }
#content .left_c .tabing .tab_nav ul li:last-child a{ padding-right:41px; }
#content .left_c .tabing .tabing_inner { padding:22px 10px 27px 85px; margin:0; box-shadow:0px 2px 7px rgba(0,0,0,0.3); background:url(../media/images/lady.png) no-repeat left bottom; }
#content .left_c .tabing .tabing_inner h4 { font-size:16px; line-height:normal; color:#2d3e52; font-weight:normal; margin:0; padding:0 0 18px 0; font-family: 'HelveticaNeueItalic'; }
#content .left_c .tabing .tabing_inner .carosel { position:relative; padding:0 35px; margin:0 0 0 25px; }

#content .left_c .tabing .tabing_inner .carosel a.arrow { position:absolute; top:50%; margin:-13px 0 0 0; width:15px; height:27px; display:block; }
#content .left_c .tabing .tabing_inner .carosel a.left_arrow { background:url(../media/images/left_arrow.png) no-repeat center center; left:0; }
#content .left_c .tabing .tabing_inner .carosel a.right_arrow { background:url(../media/images/right_arrow.png) no-repeat center center; right:0; }
#content .left_c .tabing .tabing_inner a.more_pro { font-size:16px; line-height:normal; color:#2d3e52; font-weight:normal; margin:15px 0 0 0; padding:0 70px 0 0; font-family: 'HelveticaNeueItalic'; text-align:right;  float:right; }
#content .left_c .tabing .tabing_inner a.more_pro:hover { text-decoration:underline; }

#content .left_c .tabing .tabing_inner ul { margin:0; padding:0; display:block; }
#content .left_c .tabing .tabing_inner ul li { margin:0 11px; padding:0; display:block; width:133px; float:left; }
#content .left_c .tabing .tabing_inner ul li a {  }

#content .right_c .thumbnail {  }
#content .right_c .thumbnail img { width:100%; height:auto; }
#content .right_c .thumbnail_1 { padding:20px 0 15px 0; margin:0; }
#content .right_c .rate_c { background:#009966; padding:0 10px 0 20px; }
#content .right_c .rate_c h3 { font-size:18px; line-height:20px; color:#000; font-weight:normal; margin:0; padding:4px 0 5px 0; font-family: 'HelveticaNeueMedium'; }
#content .right_c .rate_c p { font-size:18px; line-height:20px; color:#fff; font-weight:normal; margin:0; padding:0 0 15px 0; font-family: 'HelveticaNeueMedium'; }

#footer { padding:16px 0 15px 0; background:url(../media/images/saprator_1.png) repeat-x top left #fafafa; }
#footer p { font-size:12px; line-height:26px; margin:0; padding:0; float:left; color:#9e9e9e; }

#content .breadcrumb { margin-top:-44px;  padding:12px 0 25px 0;  }
#content .breadcrumb ul { margin:0; padding:0; float:right; width:260px; }
#content .breadcrumb ul li { margin:0; padding:0; float:left; padding:0 10px 0 6px; background:url(../media/images/breadcrumbs-arrow.png) no-repeat right center; }
#content .breadcrumb ul li:last-child { background:none; }
#content .breadcrumb ul li a { font-size:11px; line-height:15px; color:#666666; display:block; }
#content .breadcrumb ul li.active a,#content .breadcrumb ul li a:hover { color:#999999; }
#content .breadcrumb ul li a:hover { text-decoration:underline; }

#content .container { position:relative; z-index:9999; }
#content .inner {  }
#content .inner .left_content { width:610px; float:left; }
#content .inner .sidebar { width:260px; float:right; }

#content .left_content h2 { font-size:18px; line-height:20px; color:#333333; padding:0 0 15px 0; margin:0; font-weight:normal; font-family: 'HelveticaNeueMedium'; }
#content .left_content h2.overview { color:#293e46; padding-bottom:7px; }
#content .left_content p { font-size:14px; line-height:22px; margin:0; padding:0 0 15px 0; color:#838383; }
#content .left_content ul.list { padding:0 0 15px 35px; margin:0; }
#content .left_content ul.list li { margin:0; padding:0 0 0 10px; display:block; background:url(../media/images/bullet.png) no-repeat left 7px; color:#838383; font-size:14px; line-height:20px; }

#content .left_content .box_1 { margin:35px 0 45px 0; padding:0 25px 0 0; background:#99cc66; border-radius:5px; height:90px; float:left; }
#content .left_content .box_1 .box_1_left { background: url(../media/images/icon_2.png) no-repeat center center #009966; width:70px; height:90px; border-right:1px solid #f0f5f7; margin:0 23px 0 0; float:left; border-radius:5px 0 0 5px; }
#content .left_content .box_1 .box_1_right { padding:12px 0 0 0; margin:0; font-size:14px; line-height:20px; color:#000; overflow:hidden; }

#content .left_content .team_c p { font-size:13px; line-height:22px; }
#content .left_content .team_c .team_row { border-bottom:1px solid #c0cdd0; margin:0 0 33px 0;  }

#content .left_content .team_c .team_row p { font-size:14px; }
#content .left_content .team_c .team_row h4 { font-size:14px; line-height:20px; color:#333333; margin:0; padding:0; font-weight:normal; font-family: 'HelveticaNeueBold'; }
#content .left_content .team_c .team_row h6 { font-size:12px; line-height:20px; color:#333333; margin:0 0 20px 0; padding:0; font-weight:normal; }
#content .left_content .team_c .team_row .thumb { margin:0 20px 33px 0; padding:0; width:171px; float:left; }
#content .left_content .team_c .team_row .thumb img { width:auto; height:auto; }

#content .left_content .team_c .team_row .team_desc { overflow:hidden; }

#content .left_content .branch_c h2 { padding:0; border-bottom:1px solid #f5f5f5; margin:0 0 10px 0;  }
#content .left_content .branch_c p { padding:0 0 10px 0; margin:0; }
#content .left_content .branch_c table {  }
#content .left_content .branch_c table tr {  }
#content .left_content .branch_c table tr th { text-transform:uppercase; padding:11px 0 11px 20px; vertical-align:middle; text-align:left; background:#d0d0d0; border-right:2px solid #fff; border-bottom:3px solid #fff; border-right:2px solid #fff; font-size:11px; line-height:normal; color:#8f8f8f; font-weight:normal; }
#content .left_content .branch_c table tr td { text-transform:uppercase; padding:14px 0 14px 20px; vertical-align:middle; text-align:left; border-bottom:2px solid #fff; border-right:2px solid #fff; background:#f5f5f5; font-size:11px; line-height:normal; color:#838383; font-weight:normal; }
#content .left_content .branch_c table tr td a{ text-transform:uppercase; vertical-align:middle; text-align:left; background:#f5f5f5; font-size:11px; line-height:normal; color:#838383; font-weight:normal; }
#content .left_content .branch_c table tr td span.bullet { background:url(../media/images/icon_6.png) no-repeat left center; padding:0 0 0 25px; line-height:15px; display:block; }
#content .left_content .branch_c table tr td .chkbox { vertical-align:middle; margin-right:10px;  }
#content .left_content .branch_c .find_btn { margin:20px 0 60px 0; padding:0; }
#content .left_content .branch_c .find_btn a { margin:0; padding:0; display:block; width:173px; height:38px; background:#009966; text-align:center; font-size:14px; line-height:38px; color:#ffffff; font-family: 'latobold'; font-weight:normal; }

#content .left_content #faq { padding:0 0 50px 0; }
#content .left_content #faq ul {  margin:0; padding:0; }
#content .left_content #faq ul > li { border-bottom:1px solid #f5f5f5; margin:0; padding:0; background:url('') no-repeat left 7px;}
#content .left_content #faq ul > li > a { font-size:14px; line-height:50px; color:#2d3e52; background:url(../media/images/icon_3.png) no-repeat right center; display:block; }
#content .left_content #faq ul > li.active > a { background:url(../media/images/icon_4.png) no-repeat right center; border-bottom:none; }
#content .left_content #faq ul li ul { margin:0; padding:0; display:none; }
#content .left_content #faq ul li ul li {  margin:0; padding:0; }
#content .left_content #faq ul li p { font-size:13px; line-height:22px; color:#838383;  }

#content .left_content .newsletter { padding:0 0 60px 0; }
#content .left_content .newsletter h2 {  }
#content .left_content .newsletter h5 { font-size:16px; line-height:20px; color:#2d3e52; font-weight:normal; margin:0; padding:0 0 8px 0; }
#content .left_content .newsletter .news_inner { padding:18px 0 19px 30px; margin:0; background:#ececec;  }
#content .left_content .newsletter .news_inner .txtbox { width:62%; height:33px; padding:0 10px 0 20px; background:#cccccc; margin: 0 0 12px 0; font-size:12px; color:#9e9e9e; display:block; border:none; }
#content .left_content .newsletter .news_inner .signup_btn { width:115px; height:33px; font-size:11px; line-height:33px; color:#ffffff; text-transform:uppercase; text-align:center; padding:0 30px 0 0; margin:0; background:url(../media/images/icon_5.png) no-repeat right center #99cc66; display:block; border:none; cursor:pointer; }

.homenewsletter { padding:0 0 0px 0; }
.homenewsletter h2 {  }
.homenewsletter h5 { font-size:16px; line-height:20px; color:#2d3e52; font-weight:normal; margin:0; padding:0 0 8px 0; }
.homenewsletter .news_inner { padding:18px 0 19px 30px; margin:0; background:#ececec;  }
.homenewsletter .news_inner .txtbox { width:62%; height:33px; padding:0 10px 0 20px; background:#cccccc; margin: 0 0 12px 0; font-size:12px; color:#9e9e9e; display:block; border:none; }
.homenewsletter .news_inner .signup_btn { width:115px; height:33px; font-size:11px; line-height:33px; color:#ffffff; text-transform:uppercase; text-align:center; padding:0 30px 0 0; margin:0; background:url(../media/images/icon_5.png) no-repeat right center #99cc66; display:block; border:none; cursor:pointer; }

.searchtextbox {width:100%; height:43px; padding:0 10px 0 20px; background:#cccccc; margin: 0 0 12px 0; font-size:12px; color:#9e9e9e; display:block; border:none;}
.searchbutton {width:115px; height:33px; font-size:11px; line-height:33px; color:#ffffff; text-transform:uppercase; text-align:center; padding:0 30px 0 0; margin-left:10px; background:url(../media/images/icon_5.png) no-repeat right center #99cc66; display:block; border:none; cursor:pointer;}

#content .left_content .searchbox { float:left; padding:6px 0; }
#content .left_content .searchbox .searchbox { float:left; width:380px; height:31px; padding:0 10px; color:#999999; font-size:12px; display:block; border:1px solid #9e9e9e; border-radius:0 !important;  -webkit-appearance: none; -webkit-box-sizing: content-box;}
#content .left_content .searchbox .search_btn { float:left; width:30px; height:33px; display:block; background: url(../media/images/search_icon.png) no-repeat center center #009966; border:none; }

#content .left_content .rates_c {  }
#content .left_content h3 { font-size:18px; line-height:20px; color:#333333; padding:0 0 10px 0; margin:0; font-weight:normal; font-family: 'HelveticaNeueRegular'; }
#content .left_content h4 { font-size:14px; line-height:20px; color:#333333; padding:8px 0 15px 0; margin:0; font-weight:normal; font-family: 'HelveticaNeueRegular'; }
#content .left_content h4 strong { font-weight:normal; font-family: 'HelveticaNeueBold'; }
#content .left_content h4 span { display:block; }
#content .left_content .rates_c p { font-size:12px; line-height:20px; color:#333333;}

#content .left_content .rates_c table { margin:0 0 40px 0; }
#content .left_content .rates_c table tr {  }
#content .left_content .rates_c table tr th { font-size:11px; line-height:30px; color:#ffffff; padding:0 0 0 10px; margin:0; vertical-align:middle; border-bottom:3px solid #fff; border-right:2px solid #fff; background:#949494; text-align:left; font-weight:normal; text-transform:uppercase;  }
#content .left_content .rates_c table tr td { font-size:11px; line-height:normal; color:#838383; padding:11px 0 11px 10px; margin:0; vertical-align:middle; border-bottom:2px solid #fff; border-right:2px solid #fff; background:#f5f5f5; text-align:left; font-weight:normal; text-transform:uppercase; }
#content .left_content .rates_c table tr th:nth-child(1) { padding-left:20px; }
#content .left_content .rates_c table tr td:nth-child(1) { padding-left:20px; }

#content .left_content .rates_c table tr th.border_one { border-bottom-width:2px; }

#content .left_content .rates_c .table_1 tr th { padding:11px 0 11px 22px; border-right:none; line-height:normal; }
#content .left_content .rates_c .table_1 tr td { padding:15px 0 15px 22px; border-right:none; }

#content .left_content .rates_c .table_2 tr th { padding:20px 0 20px 4px; line-height:normal; }
#content .left_content .rates_c .table_2 tr td { padding:15px 0 15px 4px; }
#content .left_content .rates_c .table_2 tr th:nth-child(1) { padding-left:20px; }
#content .left_content .rates_c .table_2 tr td:nth-child(1) { padding-left:20px; }


#content .left_content .rates_c .table_3 tr th { padding:15px 0 15px 10px; line-height:normal; }
#content .left_content .rates_c .table_3 tr td { padding:15px 0 15px 10px; }
#content .left_content .rates_c .table_3 tr th:nth-child(1) { padding-left:20px; }
#content .left_content .rates_c .table_3 tr td:nth-child(1) { padding-left:20px; }

#content .left_content .msz_c {  }
#content .left_content .msz_c h2 { font-size:20px; line-height:22px; padding:0 0 15px 0; margin:0; font-weight:normal; font-family: 'HelveticaNeueRegular'; color:#333333; }
#content .left_content .msz_c p { font-size:13px; line-height:22px; color:#838383; }
#content .left_content .msz_c .msz_left { width:50%; float:left; padding:0 20px 0 0; }
#content .left_content .msz_c .msz_right { width:50%; float:left; padding:0 0 0 20px; }
#content .left_content .msz_c .lbltxt { display:block; font-size:10px; line-height:14px; padding:0 0 4px 0; margin:0; color:#838383; text-transform:uppercase; }
#content .left_content .msz_c .txtbox { width:100%; display:block; height:33px; padding:0 10px; background:#f5f5f5; font-size:12px; color:#9e9e9e; margin:0 0 10px 0; border:none; }
#content .left_content .msz_c textarea { width:100%; display:block; height:165px; padding:10px; background:#f5f5f5; font-size:12px; color:#9e9e9e; margin:0 0 20px 0; border:none; }
#content .left_content .msz_c .send_btn { width:100%; height:43px; padding:0 0 0 28px;  color:#fff; background:#339900; font-size:14px; line-height:43px; text-transform:uppercase; border:none; text-align:left; cursor:pointer; display:block; font-family: 'HelveticaNeueBold'; font-weight:normal;  }

#content .left_content ul { padding:0 0 15px 35px; margin:0; }
#content .left_content ul li { margin:0; padding:0 0 0 10px; display:block; background:url(../media/images/bullet.png) no-repeat left 7px; color:#838383; font-size:14px; line-height:20px; }
#content .left_content ul li a{ margin:0; display:block; color:#008a5f; font-size:14px; line-height:20px; }
#content .left_content ul li a:hover{ margin:0; display:block; color:#838383; font-size:14px; line-height:20px; }

#content .left_content .sbHolder ul { background-color: #f5f5f5;
	
	list-style: none;
	
	margin: 0;
	padding: 0;
	position: absolute;
	top: 33px !important;
	width: 100%;
	z-index: 1;
	overflow-y: auto; }
#content .left_content .sbHolder ul li { padding: 0 7px; background:url(); }
#content .left_content .sbHolder ul li a{ border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
	color:#9e9e9e; }
#content .left_content .sbHolder ul li a:hover{ color: #99cc66; }

#content .inner .sidebar {  }
#content .inner .sidebar .frm { width:100%; padding:0 20px 0 20px; background:#008a5f; z-index:99999; min-height:260px; }
#content .inner .sidebar .frm h5 { font-size:12px; line-height:14px; color:#ffffff; padding:20px 0 10px 0; margin:0; font-weight:normal;  font-family: 'HelveticaNeueBold'; text-transform:uppercase; }
#content .inner .sidebar .frm select { width:100%; height:33px; font-size:12px; color:#9e9e9e; margin:0 0 10px 0; display:block; border:none; }
#content .inner .sidebar .frm ul.list { margin:0; padding:0; display:block; }
#content .inner .sidebar .frm ul.list > li { margin:0; padding:0; display:block; border-bottom:1px solid #80c5af; }
#content .inner .sidebar .frm ul.list > li > a { font-size:14px; line-height:28px; color:#b0d578; font-weight:normal; display:block; background:url(../media/images/right_arrow_1.png) no-repeat right center; font-weight:normal;  font-family: 'HelveticaNeueBold'; text-transform:uppercase; }
#content .inner .sidebar .frm ul.list > li.active > a { background:url(../media/images/right_arrow_1_active.png) no-repeat right center; }
#content .inner .sidebar .frm ul.list li ul li { padding:0 0 2px 10px; }
#content .inner .sidebar .frm ul.list li ul li a { font-size:12px; line-height:16px; color:#fff; font-weight:normal; display:block; }


#content .inner .sidebar img.ls-s6 { top:20px !important; left:0 !important;}
#content .inner .sidebar h1.ls-s3 { font-size:36px; color:#000;  font-family: 'HelveticaNeueRegular', Arial, Helvetica, sans-serif; }
#content .inner .sidebar h1.ls-s3 span { font-size:30px; display:block; line-height:20px; }
#content .inner .sidebar h1.ls-s3 strong { font-size:65px; font-weight:normal; display:block; font-family: 'HelveticaNeueBold'; line-height:60px; padding-bottom:5px; }
#content .inner .sidebar .listing { background:#efefef; padding:23px; margin-bottom:30px;}
#content .inner .sidebar .listing ul { display:block; margin:0; padding:0;}
#content .inner .sidebar .listing ul li { display:block; margin:0; padding:0; border-bottom:solid 1px #cccccc;}
#content .inner .sidebar .listing ul li:last-child { border:none;}
#content .inner .sidebar .listing ul li a { display:block; margin:0; padding:0; font-size:12px; color:#008a5f; background:url(../media/images/arrow_icon.png) no-repeat left center; padding:0 0 0 15px; line-height:25px;}
#content .inner .sidebar .listing ul li a:hover { color:#666666;}

#content .inner .sidebar .dw_box { overflow:hidden; margin-top:20px;}
#content .inner .sidebar .dw_box ul { display:block;}
#content .inner .sidebar .dw_box ul li { display:block; border-bottom:solid 1px #ccc; overflow:hidden; padding:10px 0; font-size:12px; color:#838383; line-height:14px;}
#content .inner .sidebar .dw_box ul li:last-child { padding:20px 0;}
#content .inner .sidebar .dw_box ul li .image { float:left; margin:0 10px 0 0;}
#content .inner .sidebar .dw_box ul li a { color:#50b948;}
#content .inner .sidebar .dw_box ul li a:hover { text-decoration:underline;}

#content .inner .sidebar .quick_box { overflow:hidden; margin-top:20px;}
#content .inner .sidebar .quick_box ul { display:block; padding:10px 0 0 0;}
#content .inner .sidebar .quick_box ul li { display:block; border-bottom:solid 1px #ccc; overflow:hidden; padding:10px 0; font-size:12px; color:#838383; line-height:14px;}
#content .inner .sidebar .quick_box ul li:last-child { padding:20px 0;}
#content .inner .sidebar .quick_box ul li p { font-size:10px; color:#838383; line-height:16px; margin:0; padding:4px 0 0 0; overflow:hidden;}
#content .inner .sidebar .quick_box ul li .image { float:left; margin:0; width:50px;}
#content .inner .sidebar .quick_box ul li a { color:#50b948;}
#content .inner .sidebar .quick_box ul li a:hover { text-decoration:underline;}
#content .inner .sidebar .quick_box h4 { font-weight:normal; margin:0; padding:0; font-size:14px; color:#333333;}

#content .inner .sidebar .need_box { overflow:hidden; margin-top:40px; background:url(../media/images/call_bg.png) no-repeat; height:105px;}
#content .inner .sidebar .need_box p { font-family: 'latoregular'; font-size:18px; color:#fff; margin:0; padding:12px 0 0 110px;}
#content .inner .sidebar .need_box p strong { display:block; font-weight:normal; font-size:24px; font-family: 'latoblack'; padding:5px 0 0 0;}

#content .inner .sidebar .book_box { overflow:hidden; margin-top:40px; }
#content .inner .sidebar .book_box p { font-family: 'latoregular'; font-size:18px; color:#666666; margin:0; padding:0 0 10px 0;}


#footer .f_left { float:left;  }
#footer .f_left ul { margin:0; padding:0; display:block; float:left; }
#footer .f_left ul li { margin:6px 0; padding:0 4px; display:block; border-right:1px solid #cfcfcf; line-height:14px; float:left; }
#footer .f_left ul li:last-child { border:none; }
#footer .f_left ul li a { font-size:12px; color:#000000; margin:0; padding:0; line-height:14px; display:block; }
#footer .f_left ul li a:hover { text-decoration:underline; }
#footer .f_mid { float:left; padding:0 0 0 100px; }
#footer .f_mid ul { margin:0; padding:0; display:block; float:left; }
#footer .f_mid ul li { margin:0 2px; padding:0; float:left; display:block; }
#footer .f_mid ul li a { margin:0; padding:0;display:block; width:29px; height:26px; }
#footer .f_mid ul li.soc_1 { background:url(../media/images/soc_1.png) no-repeat center top; } 
#footer .f_mid ul li.soc_2 { background:url(../media/images/soc_2.png) no-repeat center top; } 
#footer .f_mid ul li.soc_3 { background:url(../media/images/soc_3.png) no-repeat center top; } 

#footer .f_right { float:right; }
#footer .f_right a.poweredby { float:left; color:#000000; display:block; font-size:12px; line-height:26px;float:left; margin:0 0 0 3px; padding:0; }
#footer .f_right a.poweredby:hover { text-decoration:underline; }
#footer .f_right a.top_lnk { width:24px; height:24px; display:block; float:left; margin:0 0 0 10px; padding:0; background:url(../media/images/top_icon.png) no-repeat center center;  }

.download-links a {
	padding-left:20px;
	background:url(../media/images/pdf_icon.gif) no-repeat left;
}